/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
  overflow-x: hidden;
}
body {
  min-height: 100%;
  width: 100%;
}

.container {
  position: relative;
  width: 99%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.toast-top-right {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  opacity: .9;
  width: 20%;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}

.toast-success {
  background-color: #28a745;
}

.toast-warning {
  background-color: orange;
}

.toast-error {
  background-color: red;
}

.btn-r {
  float: right;
  margin-left: 10px;
}

.welcome {
  position: fixed;
  right: 50px;
}

