<br/>
<!--<div class="container">-->
  <!--<button class="btn btn-success" type="button" (click)="onAdd(content)">Create Habit</button>-->
<!--</div>-->
<div class="container">
  <mat-card>
    <mat-card-header>
      Quick Add
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="insert(habit)">
        <mat-form-field>
          <input matInput type="text" class="form-control" id="description" required [(ngModel)]="habit.description" name="description" aria-label="description" placeholder="Description">
        </mat-form-field>
        &nbsp;
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <h4>Your Habits</h4>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let habit of habits">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{habit.description}}
        </mat-panel-title>
        <mat-panel-description>
          Streak Count: {{habit.streakCount}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="habit.id">
        <mat-form-field>
          <input matInput class="form-control" name="description" #description="ngModel" [(ngModel)]="habit.description" placeholder="Description" aria-label="description" required>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <mat-select placeholder="Hours" [(ngModel)]="habit.hours" name="hours">
            <mat-option *ngFor="let hour of hours" [value]="hour.value">
              {{hour.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <mat-select placeholder="Minutes" [(ngModel)]="habit.minutes" name="minutes">
            <mat-option *ngFor="let minute of minutes" [value]="minute.value">
              {{minute.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <mat-select placeholder="Seconds" [(ngModel)]="habit.seconds" name="seconds">
            <mat-option *ngFor="let second of seconds" [value]="second.value">
              {{second.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="form-group">
          <button class="btn btn-success" type="button" (click)="onStart(habit)">
            <i class="fa fa-play-circle"></i>
            Start
          </button>
          <button class="btn btn-danger btn-r" type="button" (click)="onDelete(habit)">
            <i class="fa fa-trash-o"></i>
            Delete
          </button>
          <button class="btn btn-primary btn-r" type="submit" [disabled]="!form.valid">
            <i class="fa fa-floppy-o"></i>
            Save
          </button>
        </div>
      </form>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #content let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Habit</h4>
    <button id="closeBtn" type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="habitService.selectedHabit.id">
      <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="description" #description="ngModel" [(ngModel)]="habitService.selectedHabit.description" placeholder="Description" required>
      </div>
      <div class="form-group">
        <label>Time Allotted</label>
        <input class="form-control" name="time" #time="ngModel" [(ngModel)]="habitService.selectedHabit.time" placeholder="Time">
      </div>
      <div class="form-group">
        <button class="btn btn-default secondary-dark" type="submit" [disabled]="!form.valid">
          <i class="fa fa-floppy-o"></i>
          Submit
        </button>
        <button class="btn btn-default secondary-dark" type="button" (click)="resetForm(form)">
          <i class="fa fa-repeat"></i>
          Reset
        </button>
      </div>
    </form>
  </div>
</ng-template>
