<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="goHome()">Home</a>
      <a mat-list-item (click)="onStats()">Stats</a>
      <a mat-list-item (click)="onLogout()" [routerLink]="['']">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-button
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="welcome" *ngIf="user">{{user.name}}</span>
    </mat-toolbar>
    <div class="main-container">
      <div class="component-container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

