.login-container {
  width: 50%;
  padding: 50px;
  margin-top: 10%;
  background-color: #2C404B;
  border-radius: 10px;
  text-align: center;
  color: #F5F5F5;
}

.btn-login {
  background-color: #0D76B3;
}
