<div class="row">
  <div class="col-md-3"></div>
  <div class="login-container col-md-6">
    <h2>Make It R Break It!</h2>
    <br/>
    <a class="btn btn-primary btn-login" href="/google/login">Google Login</a>
  </div>
  <div class="col-md-3"></div>
</div>
